// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

body {
  font-family: 'Roboto', sans-serif;
}
#rate_div {
  width: 100px;
  margin-left: 9px;
  margin-top: -3px;
}
#rate_div .sc-ion-buttons-md-s {
  justify-content: flex-start;
}

#rate_div .sc-ion-buttons-md-s ion-button {
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 4px;
  --padding-end: 4px;
  --box-shadow: none;
  height: 20px;
  font-size: 10px;
}
