<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-searchbar
      animated
      placeholder="Buscar"
      [(ngModel)]="searchQuery"
      (ionChange)="getSearch()"
      (ionClear)="getClear()"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content color="#ffdd0d">
  <div class="wrap">
    <div
      *ngFor="let book of books"
      class="thumbnail"
      [routerLink]="['/details/', book.id]"
    >
      <img src="{{ book.volumeInfo.imageLinks?.thumbnail }}" class="cover" />
    </div>
  </div>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="getMoreBooks($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="aguardando..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
