ion-header {
  ion-toolbar {
    padding: 20px 10px;
  }

  &:after {
    display: none;
  }
}

ion-content {
  background: #ffdd0d;

  .wrap {
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .thumbnail {
      width: 100px;
      height: 130px;
      margin-bottom: 15px;
      text-align: center;
      outline: none;

      .cover {
        object-fit: fill;
        width: 100%;
        height: 100%;
      }
    }
  }
}
