ion-content {
  background: #ffdd0d;

  ion-refresher {
    z-index: 10;
  }

  .title-wrap {
    text-align: center;
    margin: 45px 0;
    position: relative;

    .search-button {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
      font-size: 23px !important;
    }

    .title {
      position: relative;

      font-size: 20px;
      color: #2c2605;

      &:after {
        position: absolute;
        bottom: -17px;
        left: 50%;

        width: 120px;
        height: 2px;
        background: #f0d10f;
        transform: translateX(-50%);
        content: '';
      }
    }
  }

  .wrap {
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .thumbnail {
      width: 100px;
      height: 130px;
      margin-bottom: 15px;
      text-align: center;
      outline: none;

      .cover {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }
  }
}
