<ion-content color="#ffdd0d">
  <div class="title-wrap">
    <ion-icon
      name="ios-arrow-round-back"
      class="back-button"
      size="large"
      (click)="goBack()"
    ></ion-icon>
    <h1 class="title">Pixter Books</h1>
  </div>

  <div class="about">
    <div class="about-left">
      <div *ngIf="book.volumeInfo.imageLinks.thumbnail">
        <div class="thumbnail">
          <img src="{{ book.volumeInfo.imageLinks.thumbnail }}" class="cover" />
        </div>
      </div>
      <div *ngIf="!book.volumeInfo.imageLinks.thumbnail">
        <ion-skeleton-text
          animated
          style="width: 110px; height: 140px;"
        ></ion-skeleton-text>
      </div>
      <p class="pages">{{ book.volumeInfo.pageCount }} pages</p>
    </div>
    <div class="about-right">
      <h1 class="title">
        {{ book.volumeInfo.title }}
      </h1>
      <p class="author">by {{ book.volumeInfo.publisher }}</p>
      <div class="row">
        <p
          class="price"
          *ngIf="!book.saleInfo.listPrice?.amount; else elseBlock"
        >
          Free.
        </p>

        <ng-template #elseBlock
          >${{ book.saleInfo.listPrice?.amount }}</ng-template
        >

        <rating
          id="rate_div"
          [rate]="book.volumeInfo.averageRating"
          (rateChange)="onRateChange($event)"
        >
        </rating>
      </div>
      <div class="actions">
        <button
          class="button-buy"
          *ngIf="book.saleInfo.listPrice?.amount"
          (click)="handleBuy()"
        >
          {{ buy ? 'PURCHASE' : 'BUY' }}
        </button>
        <button class="button-like" (click)="handleLike()">
          <ion-icon
            slot="icon-only"
            *ngIf="!like; else elseBlockLike"
            name="md-heart-empty"
          ></ion-icon>
          <ng-template #elseBlockLike>
            <ion-icon slot="icon-only" name="md-heart"></ion-icon>
          </ng-template>
        </button>
      </div>
    </div>
  </div>

  <div class="content">
    {{ book.volumeInfo.description }}
  </div>
</ion-content>
