ion-content {
  background: #ffdd0d;
  display: flex;
  flex-direction: column;

  .title-wrap {
    text-align: center;
    margin: 45px 0;
    position: relative;

    .back-button {
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
    }

    .title {
      position: relative;

      font-size: 20px;
      color: #2c2605;

      &:after {
        position: absolute;
        bottom: -17px;
        left: 50%;

        width: 120px;
        height: 2px;
        background: #f0d10f;
        transform: translateX(-50%);
        content: '';
      }
    }
  }

  .about {
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .about-left {
      margin-right: 20px;

      .pages {
        font-size: 14px;
        line-height: 25px;
        text-align: center;
        color: #9f8b0c;
      }

      .thumbnail {
        width: 110px;
        height: 140px;
        margin-bottom: 30px;

        .cover {
          width: 100%;
          height: 100%;
          object-fit: cover;
          box-shadow: 0px 20px 33px rgba(184, 118, 12, 0.725119);
        }
      }
    }

    .about-right {
      flex: 1;
      position: relative;

      .title {
        font-size: 17px;
        line-height: 25px;
        color: #2c2605;
        margin: 0;
        font-weight: bold;
        // height: 75px;
      }

      .author {
        font-size: 11px;
        margin: 0;
        color: #9f8b0c;
        margin-bottom: 20px;
      }

      .row {
        display: flex;
        align-items: center;

        .price {
          font-weight: bold;
          font-size: 20px;
          margin: 0;
          color: #2c2605;
        }
      }
    }

    .actions {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: absolute;
      bottom: 12px;
      right: 0;

      .button-buy {
        width: 115px;
        height: 36px;
        margin-right: 10px;

        border-radius: 100px !important;
        background: #4a90e2;
        color: #fff;
        font-weight: bold;
        font-size: 17px;
        text-align: center;
        outline: none;
      }

      .button-like {
        outline: none;

        width: 36px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 100%;
        background: #dc4b5d;
        color: #fff;
        font-size: 17px;
      }
    }
  }

  .content {
    background: #fff;
    flex: 1;
    font-size: 14px;
    line-height: 30px;
    color: #4f565d;
    padding: 20px;
    height: 49%;
    margin-top: 3px;
    overflow: hidden;
    overflow-y: auto;
  }
}
