<ion-content color="#ffdd0d">
  <div class="title-wrap">
    <h1 class="title">Pixter Books</h1>
  </div>

  <ion-refresher slot="fixed" (ionRefresh)="refreshBooks($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      refreshingSpinner="circles"
    >
    </ion-refresher-content>
  </ion-refresher>

  <div class="wrap">
    <div
      *ngFor="let book of books"
      class="thumbnail"
      [routerLink]="['/details/', book.id]"
    >
      <img src="{{ book.volumeInfo.imageLinks.thumbnail }}" class="cover" />
    </div>
  </div>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="getBooks($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="aguarde carregando..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
